<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd67d752-14c9-4a8f-adec-1e11a6743ef7/resourceGroups/APIGBooks20220628163222ResourceGroup/providers/Microsoft.Web/sites/APIGBooks20220628174102</ResourceId>
    <ResourceGroup>APIGBooks20220628163222ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/bd67d752-14c9-4a8f-adec-1e11a6743ef7/resourceGroups/APIGBooks20220628163222ResourceGroup/providers/Microsoft.ApiManagement/service/APIGBook/apis/Gbooks</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apigbooks20220628174102.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f236120e-7f40-4b7e-9f97-88aba285c173</ProjectGuid>
    <MSDeployServiceURL>apigbooks20220628174102.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIGBooks20220628174102</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIGBooks20220628174102</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>